/* ==========================================================================
   Placeholder
   ========================================================================== */

#placeholder {
  opacity: 0;
  transition: opacity 0.4s;
}

#paperDrawerPanel {
  visibility: visible;
  transition: visibility 0.4s;
}

body[unresolved] > #placeholder {
  opacity: 1;
}

body[unresolved] > #paperDrawerPanel {
  visibility: hidden;
}

#placeholder ph-paper-header-panel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#placeholder ph-paper-header-panel > ph-paper-toolbar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #E70013;
  color: #FFFFFF;
}

#placeholder ph-paper-header-panel > .content {
  display: block;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}
